.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.dropzone p {
    margin: 0;
}

.dropzone.active {
    background-color: #e0e0e0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.App-header {
    /* background-color: #282c34; */
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.thumb-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.thumb-img {
    width: 100px;
    margin-right: 10px;
}
  
.trash-icon {
    width: 20px; 
    cursor: pointer;
}

.wrapper {
    background-color: #f0f0f0; 
    padding: 20px;
}
  
.background {
    margin: auto;
    max-width: 800px; 
}
  
.dropbox-container {
    border: 2px solid #ccc;
    padding: 10px;
}

.submitted-image {
    width: 100px;
  }